{% extends "base.html" %}
{% load staticfiles %}

{% block body_content %}
	<div class="container">
	    <h4><br />Campaign Detail&nbsp;
	        {% if request.user.is_authenticated %}
		        {% if campaign.is_finished == '0' %}
		        <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#exampleModal"><i class="far fa-hdd"></i></button>
		        
		        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		            <div class="modal-dialog">
		                <div class="modal-content">
		                    <div class="modal-header">
		                        <h5 class="modal-title" id="exampleModalLabel">询问</h5>
		                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                            <span aria-hidden="true">&times;</span>
		                        </button>
		                    </div>
		                    <div class="modal-body">是否确认本场比赛已经结束？</div>
		                    <div class="modal-footer">
		                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
		                        <a class="btn btn-info" href="/snooker/campaign/finish/{{ campaign.id }}/">保存</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		        {% endif %}
	        <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#exampleModal1"><i class="far fa-trash-alt"></i></button>
	        
	        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">警告</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">是否确认删除本场比赛？</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <a class="btn btn-danger" href="/snooker/campaign/delete/{{ campaign.id }}/">删除</a>
                        </div>
                    </div>
                </div>
            </div>
	        {% endif %}
	    </h4>
	    
	    <div class="row">
            <div class="col-md-12">
			    <table class="table table-striped">
			        <thead>
			            <tr>
			                <th>Date</th>
			                <th>Location</th>
			                <th>Total Score</th>
			                <th>Opponent</th>
			                {% if campaign.is_finished == '1' %}
			                <th>Get Points</th>
			                <th>Oppo Points</th>
			                {% endif %}
			            </tr>
			        </thead>
			        <tbody>
			            <tr>
			                <td>{{ campaign.event_dt|date:'Y-m-d' }}</td>
			                <td>{{ campaign.gym.name }}（{{ campaign.gym.road }}）</td>
			                <td>{{ campaign.win_frames|default:0 }} : {{ campaign.lose_frames|default:0 }}</td>
			                <td>{{ campaign.opponent.name }}</td>
			                {% if campaign.is_finished == '1' %}
			                <td>{{ campaign.avg_get_points|floatformat:1 }}</td>
			                <td>{{ campaign.avg_oppo_points|floatformat:1 }}</td>
			                {% endif %}
			            </tr>
			        </tbody>
			    </table>
            </div>
        </div>
        
        <hr />
        
        <h4><br />Frame Summary&nbsp;
            {% if request.user.is_authenticated and campaign.is_finished == '0' %}
            <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#exampleModal2"><i class="fas fa-folder-plus"></i></button>
                {% if campaign.campaign_frame.all.count > 0 %}
                <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#exampleModal3"><i class="fas fa-folder-minus" style="color:white"></i></button>
                {% endif %}
            {% endif %}
        </h4>
        
        {% if request.user.is_authenticated and campaign.is_finished == '0' %}
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">新增球局</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addForm" action="/snooker/campaign/add_frame_confirm/{{ campaign.id }}/" method="post">
                        {% csrf_token %}
                            <p>我方得分：<input type="text" class="form-control" name="get_points"></p>
                            <p></p><p>对手得分：<input type="text" class="form-control" name="oppo_points"></p>
                            <p></p><p>球杆：
                            <select class="custom-select" name="cue_id">
                                {% for cue in cues %}
                                <option value="{{ cue.id }}" {% if cue.id == campaign.cue.id %}selected{% endif %}>{{ cue }}</option>
                                {% endfor %}
                            </select></p>
                            <p></p><p>单杆最高：<input type="text" class="form-control" name="max_break"></p>
                            <p></p><p>备注：<textarea class="form-control" name="memo"></textarea></p>
                            <p></p><p>让分：<input type="text" class="form-control" name="let_points" value="{{ campaign.let_points }}"></p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <a class="btn btn-success" onclick="document:addForm.submit()">确定</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">警告</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">是否确认删除最后一局？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <a class="btn btn-warning" href="/snooker/campaign/delete_last_frame/{{ campaign.id }}/">删除</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
        <div class="row">
            <div class="col-md-12">
			    <table class="table table-striped">
			        <thead>
			            <tr>
			                <th>#</th>
			                <th>Cue</th>
			                <th>Frame Score</th>
			                <th>Max Break</th>
			                <th>Memo</th>
			                <th>Result</th>
			            </tr>
			        </thead>
			        <tbody>
			            {% for frame in campaign.campaign_frame.all %}
			            <tr>
			                <td>{{ forloop.counter }}</td>
			                <td>{{ frame.cue.name }}（{{ frame.cue.owner.name }}）</td>
			                <td>{{ frame.get_points }} : {{ frame.oppo_points }}</td>
			                <td>{{ frame.max_break|default_if_none:'' }}</td>
			                <td>{{ frame.memo|default_if_none:'' }}</td>
			                <td>
			                    {% if frame.is_win == '1' %}
			                    <span class="badge badge-success">Win</span>
			                    {% else %}
			                    <span class="badge badge-secondary">Lose</span>
			                    {% endif %}
			                    {% if frame.let_points > 0 %}
			                    <span class="badge badge-warning">+{{ frame.let_points }}</span>
			                    {% elif frame.let_points < 0 %}
			                    <span class="badge badge-warning">{{ frame.let_points }}</span>
			                    {% endif %}
			                </td>
			            </tr>
			            {% endfor %}
			        </tbody>
			    </table>
            </div>
        </div>
        
        <hr />
        
        <h4><br />Frame Points Chart</h4>
        
        <div class="row">
            <div class="col-md-12">
                <canvas id="canvas" height="180" width="450" style="margin-top:10px;"></canvas>
            </div>
        </div>
	</div>
{% endblock %}

{% block js_content %}
    <script src="{% static 'plugins/Chart/Chart.bundle.min.js' %}"></script>
    
    <script type="text/javascript">
	    new Chart($("#canvas")[0], {
            type: 'line',
            data: {
                labels: [{% for frame in campaign.campaign_frame.all %}"#{{ forloop.counter }}",{% endfor %}],
                datasets : [
                    {
                        label: "GPLite",
                        borderColor : "rgba(75,192,192,1)",
                        backgroundColor : "rgba(75,192,192,0.2)",
                        pointBorderColor : "rgba(75,192,192,1)",
                        pointBackgroundColor : "#fff",
                        pointBorderWidth : 1,
                        data : [
                            {% for frame in campaign.campaign_frame.all %}{{ frame.get_points }},{% endfor %}
                        ]
                    },
                    {
                        label: "Opponent",
                        borderColor : "rgba(255,206,86,1)",
                        pointBorderColor : "rgba(255,206,86,1)",
                        pointBackgroundColor : "#fff",
                        pointBorderWidth : 1,
                        fill: false,
                        borderDash: [5, 5],
                        data : [
                            {% for frame in campaign.campaign_frame.all %}{{ frame.oppo_points }},{% endfor %}
                        ]
                    }
                ]
            },
            options: {
                legend: {
                    display: false
                }
            }
        });
    </script>
{% endblock %}