{% extends "base.html" %}
{% load staticfiles %}

{% block body_content %}
	<div class="container">
	    <h4><br />Campaigns History</h4>
	    
	    <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Score</th>
                            <th>Opponent</th>
                            <th>Max Break</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campaign in campaigns %}
                        <tr>
                            <td>{{ campaign.event_dt|date:'Y-m-d' }}</td>
                            <td>{{ campaign.gym.name }}（{{ campaign.gym.road }}）</td>
                            <td>{{ campaign.win_frames }} : {{ campaign.lose_frames }}</td>
                            <td>{{ campaign.opponent.name }}</td>
                            <td>{{ campaign.campaign_break }}</td>
                            <td>
                                <a class="btn btn-xs btn-{% if campaign.is_finished == '1' %}success{% else %}primary{% endif %}" href="/snooker/campaign/{{ campaign.id }}/"><i class="fas fa-{% if campaign.is_finished == '1' %}search{% else %}edit{% endif %}"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

		<ul class="pagination">
		    <li class="page-item{% if not campaigns.has_previous %} disabled{% endif %}">
		        <a class="page-link" {% if campaigns.has_previous %}href="/snooker/campaign/?p={{ campaigns.previous_page_number }}"{% endif %}>&laquo;</a>
		    </li>
		    {% for page in campaigns.paginator.page_range %}
		    <li class="page-item{% if campaigns.number == page %} disabled{% endif %}">
		        <a class="page-link" href="/snooker/campaign/?p={{ page }}">{{ page }}</a>
		    </li>
		    {% endfor %}
		    <li class="page-item{% if not campaigns.has_next %} disabled{% endif %}">
		        <a class="page-link" {% if campaigns.has_next %}href="/snooker/campaign/?p={{ campaigns.next_page_number }}"{% endif %}>&raquo;</a>
		    </li>
		</ul>
	</div>
{% endblock %}