{% extends "base.html" %}
{% load staticfiles %}

{% block body_content %}
	<div class="container">
		<h4><br />Candle Stick Diagram&nbsp;
	    </h4>
		<div id="chart"></div>
	</div>
{% endblock %}


{% block js_content %}
    <script src="{% static 'plugins/lightweight-charts/lightweight-charts.standalone.production.js' %}"></script>

	<script>
		const chart = LightweightCharts.createChart(
			$('#chart')[0],
		    {
		        width: 1110,
		        height: 400,

		        layout: {
		            background: {
		                color: '#fff',
		            },
		            textColor: '#333',
		            attributionLogo: false,
		        },

		        grid: {
		            vertLines: {
		                color: '#f1f3f5',
		            },
		            horzLines: {
		                color: '#f1f3f5',
		            },
		        },

		        crosshair: {
		            mode: LightweightCharts.CrosshairMode.Normal,
		        },

		        rightPriceScale: {
		            borderColor: '#ddd',
		        },
		        
		        localization: {
		            timeFormatter: (time) => {
						const parts = time.split('-');
	                    return `${parts[1]}/${parts[2]}`;
		            },
		        },

		        timeScale: {
		            borderColor: '#ddd',
		            barSpacing: 8,
		            tickMarkFormatter: (time, tickMarkType, locale) => {
		            	const parts = time.split('-');
	                    return `${parts[1]}/${parts[2]}`;
		            },
		        },
		    }
		);
	
		const candleSeries = chart.addSeries(
		    LightweightCharts.CandlestickSeries,
		    {
		        upColor: 'rgba(220,58,73,0.15)',
		        borderUpColor: '#dc3a49',
		        wickUpColor: '#dc3a49',

		        downColor: '#306613',
		        borderDownColor: '#306613',
		        wickDownColor: '#306613',
		    }
		);
	    
	    fetch('/stock/quotes/300170.SZ/')
        .then(response => {
            if (!response.ok) {
                throw new Error('网络请求错误');
            }
            return response.json();
        })
        .then(data => {
            if (data && data.length > 0) {
                candleSeries.setData(data);
                chart.timeScale().fitContent();
            } else {
                console.warn("数据为空，请检查数据库中 300170.SZ 的行情");
            }
        })
        .catch(err => {
            console.error('获取数据失败:', err);
        });
	</script>
{% endblock %}