{% extends "base.html" %}
{% load staticfiles %}
{% load ext_filters %}

{% block body_content %}
    <div class="container">
    <h4><br />Produce Prepare&nbsp;
        <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-user-check"></i>
        </button>

        <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#exampleModal3">
            <i class="fas fa-keyboard"></i>
        </button>

        <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#exampleModal1">
            <i class="fas fa-magic"></i>
        </button>
        
        <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#exampleModal2">
            <i class="fas fa-redo"></i>
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">询问</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">是否更新材料准备状态？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <a class="btn btn-success" onclick="document:updateForm.submit()">更新</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">询问</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">是否重置服务器原地登录次数？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <a class="btn btn-info" href="/game/produce/status/reset/">重置</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">询问</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">是否重置服务器终端重启时间？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <a class="btn btn-danger" href="/game/produce/status/reboot/">重启</a>
                    </div>
                </div>
            </div>
        </div>

       <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">询问</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">是否切换运行模式（持续/单次）？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <a class="btn btn-primary" href="/game/produce/status/changemode/">切换</a>
                    </div>
                </div>
            </div>
        </div>
    </h4>
    
    <div class="row p-3">
        <div class="col-md-12">
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr align="center">
                        <th>Finish Rounds</th>
                        <th>Last Reset</th>
                        <th>Last Reconnect</th>
                        <th>Last Reboot</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center">
		                <td>
		                	<span class="badge badge-secondary">{{ status.finish_rounds }}</span>
		                	<span class="badge badge-dark">{% if status.is_continue == 0 %}<i class="fas fa-swimming-pool"></i>{% else %}<i class="fas fa-swimmer"></i>{% endif %}</span>
		                </td>
		                <td><span class="badge badge-{% if status.finish_rounds >= 10 %}danger{% else %}primary{% endif %}">{{ status.last_reset_dttm | timesince }}前</span></td>
		                <td><span class="badge badge-warning">{{ status.last_reconnect_dttm | timesince }}前</span></td>
		                <td><span class="badge badge-info">{{ status.last_reboot_dttm | timesince }}前</span></td>
		            </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Warehouse</th>
	                    <th>Status</th>
	                    <th>Last Ready</th>
	                    <th>Last Used</th>
	                    <th>Check Update</th>
	                </tr>
	            </thead>
	            <tbody>
	                <form id="updateForm" action="/game/produce/prepare/update/" method="post">
	                    {% csrf_token %}
	                    {% for prepare in prepares %}
	                    <tr>
	                        <td>{{ prepare.warehouse }}</td>
	                        <td>{% if prepare.is_ready == '0' %}<i class="fas fa-ban text-danger"></i>{% else %}<i class="fas fa-hamburger text-info"></i>{% endif %}</td>
	                        <td>{{ prepare.last_ready_dttm | date:"Y-m-d H:i" }}</td>
	                        <td>{{ prepare.last_used_dttm | date:"Y-m-d H:i" }}</td>
	                        <td>
	                        {% if prepare.is_ready == '0' %}
	                            <input class="form-check-input" type="checkbox"{% if forloop.last %} disabled="true"{% endif %} value="{{ prepare.id }}" name="prepareIDs">
	                            {{ prepare.account }}
	                            </input>
                            {% endif %}
                            </td>
	                    </tr>
	                    {% endfor %}
                    </form>
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}