{% load staticfiles %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="keywords" content="GPLite|Snooker|斯诺克|Blog|博客">
    <meta name="description" content="GPLite个人工作小站（包含博客、斯诺克记录等内容）">
    <meta name="author" content="GPLite">

    <title>GPL[it]e.147 - {% block title_content %}{% endblock %}</title>
    
    <link rel="icon" href="/media/icon/{% if IS_DEBUG %}debugicon{% else %}favicon{% endif %}.ico">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    
    {% block css_content %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">GPLite.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/snooker/">Snooker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/photo/">Photo</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Username">
                <input class="form-control mr-sm-2" type="password" placeholder="Password">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
            </form>
        </div>
    </nav>

    <main role="main">
    {% block body_content %}{% endblock %}
    </main>

    <footer class="container">
        <hr>
        <div class="row">
            <div class="col-md-6"><small>&copy; 2016-2018 GPLite, Inc.</small></div>
            <div class="col-md-6 text-right"><small>Powered By &middot; <a href="https://www.djangoproject.com/">Django</a> &middot; <a href="https://www.getbootstrap.com/">Bootstrap</a> &middot; <a href="https://www.heroku.com/">Heroku</a></small></div>
        </div>
    </footer>

    <script src="{% static 'plugins/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    {% block js_content %}{% endblock %}
</body>
</html>