{% extends "base.html" %}
{% load staticfiles %}

{% block title_content %}Home{% endblock %}

{% block css_content %}
    <link href="{% static 'plugins/font-awesome/css/fontawesome.all.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body_content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to GPLite's site!</h1>
            <p>
                This site contains my snooker scores, useful programming techniques and blogs recording my personal life.<br />
                As a <kbd>Data Analyst</kbd> of the <kbd>Universe Bank</kbd> for more than 10 years, My target is trying to be the best snooker player among programmers.
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1><i class="fas fa-fingerprint text-info"></i></h1>
                <h4>Introduction</h4>
                <p>
	                <div class="list-group">
	                    <div class="list-group-item">
	                        <h6 class="mb-1">Graduation</h6>
	                        <small>An average <var>software engineering</var> bachelor.<br />Graduated from <var>SJTU</var> since 2008.</small>
	                    </div>
	                    <div class="list-group-item">
	                        <h6 class="mb-1">Hobbies</h6>
	                        <small>A <var>snooker</var> amateur, career max break <var>46</var> points.<br />Big fan of <var>Dota2</var>, <var>HearthStone</var> and <var>Manchester United</var>.</small>
	                    </div>
	                </div>
                </p>
            </div>
            <div class="col-md-4">
                <h1><i class="fab fa-windows text-info"></i></h1>
                <h4>Programming</h4>
                <p>
                    <div class="progress">
				        <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
				            <span>Java 95%</span>
				        </div>
				    </div><br />
				    <div class="progress">
                        <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span>SAS 85%</span>
                        </div>
                    </div><br />
                    <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span>Python 80%</span>
                        </div>
                    </div><br />
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span>Perl 85%</span>
                        </div>
                    </div><br />
                    <div class="progress">
                        <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span>VBA 90%</span>
                        </div>
                    </div>
				</p>
            </div>
            <div class="col-md-4">
                <h1><i class="fas fa-award text-info"></i></h1>
                <h4>Certification</h4>
                <ul class="list-unstyled list-icons">
                    <li><small><i class="fa fa-check text-success"></i> Teradata 12 Certified Professional</small></li>
                    <li><small><i class="fa fa-check text-success"></i> Teradata 12 Certified Technical Specialist</small></li>
                    <li><small><i class="fa fa-check text-success"></i> Teradata 12 Certified Database Administrator</small></li>
                    <li><small><i class="fa fa-check text-success"></i> Teradata 12 Certified Solutions Developer</small></li>
                    <li><small><i class="fa fa-check text-success"></i> Teradata 12 Certified Enterprise Architect</small></li>
                </ul>
                <ul class="list-unstyled list-icons">
                    <li><small><i class="fa fa-info-circle text-info"></i>《企业级数据仓库系统的样本数据获取方法及装置》（专利号：ZL201010611704.4）</small></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}