{% extends "base.html" %}
{% load staticfiles %}

{% block body_content %}
    <div class="container">
        <h4><br />Product Online Storage</h4>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Total Price</th>
                            <th>Storage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.merchantProdId }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.skuPrice }}</td>
                            <td><span class="badge badge-{% if product.is_warning == 1 %}danger{% else %}light{% endif %}">{{ product.skuStorage }}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}