{% extends "base.html" %}
{% load staticfiles %}

{% block body_content %}
    <div class="container">
        <h4><br />Product Online Storage</h4>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Total Price</th>
                            <th>Storage(JS)</th>
                            <th>Storage(Click)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td style="vertical-align: middle;">{{ product.merchantProdId }}</td>
                            <td style="vertical-align: middle;">{{ product.name }}</td>
                            <td style="vertical-align: middle;">{{ product.skuPrice }}</td>
                            <td style="vertical-align: middle;">
                                <span class="badge badge-{% if product.is_warning == 1 %}danger{% else %}info{% endif %}">{{ product.totalStorage }}</span>
                            </td>
                            <td style="vertical-align: middle;">
                                <a href="{{ product.prodUrl }}"><h5>
                                    <span class="badge badge-{% if product.is_warning == 1 %}danger{% else %}light{% endif %}">{{ product.visibleStorage }}
                                </span></h5></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
    	<form id="updateForm" action="/message_level/update/" method="post">
    		{% csrf_token %}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<label class="input-group-text" for="inputGroupSelect01">Wechat</label>
				</div>
				<select class="custom-select" id="inputGroupSelect01" name="wechat_msg">
					<option value="0">[Not Used]</option>
					{% for wechat in wechat_level %}
					<option value="{{ wechat.id }}" {% if wechat.id == msg_level.wechat_msg.id %}selected{% endif %}>{{ wechat.msg_type }}</option>
					{% endfor %}
				</select>
				<div class="input-group-prepend">
					<label class="input-group-text" for="inputGroupSelect02">Dingding</label>
				</div>
				<select class="custom-select" id="inputGroupSelect02" name="dingding_msg">
					<option value="0">[Not Used]</option>
					{% for dingding in dingding_level %}
					<option value="{{ dingding.id }}" {% if dingding.id == msg_level.dingding_msg.id %}selected{% endif %}>{{ dingding.msg_type }}</option>
					{% endfor %}
				</select>
				<div class="input-group-append">
					<button class="btn btn-outline-primary" type="submit">Update</button>
				</div>
			</div>
			<input type="hidden" value="{{ request.get_full_path }}" name="callbackurl">
			<input type="hidden" value="{{ msg_level.id }}" name="msg_id">
		</form>
	</div>
{% endblock %}