/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 56px;
}

td, th {
	font-size: 14px;
}

.btn-xs {
    padding: .125rem .4rem;
    font-size: .75rem;
    line-height: 1.4;
    border-radius: .2rem;
}