{% extends "base.html" %}
{% load staticfiles %}
{% load ext_filters %}

{% block body_content %}
	<div class="container">
	<h4>
		<br />Recent Produces
		{% if request.user.is_authenticated %}
		&nbsp;
        <a class="btn btn-xs btn-warning" href="/game/produce/prepare/"><i class="fas fa-luggage-cart"></i></a>
		<button class="btn btn-xs btn-info" data-toggle="modal" data-target="#exampleModal">
			<i class="fas fa-eraser"></i>
		</button>

		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">询问</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">是否清理历史记录？</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
						<a class="btn btn-info" href="/game/produce/clear/">清理</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</h4>

	<div class="row">
            <div class="col-md-12">
            	{% for produce in produces %}
            	<p>
                    {% if not produce.produce_detail.all.first.end_dttm %}
                    <span class="badge badge-light">{{ produce.min_start_dttm | date:"Y-m-d H:i:s" }}</span>
                    {% else %}
                    <button class="btn btn-outline-secondary btn-xs" type="button" data-toggle="collapse" data-target="#collapse{{ produce.id }}" aria-expanded="false" aria-controls="collapse{{ produce.id }}">
                    {{ produce.min_start_dttm | date:"Y-m-d H:i:s" }}
                    </button>
                    {% endif %}
            		<span class="badge badge-success">{{ produce.warehouse }}</span>
            		<span class="badge badge-primary">{{ produce.main_chef }}</span>
            		{% if produce.produce_detail.all.first.end_dttm %}
            		<span class="badge badge-pill badge-dark">共耗时：{{ produce.max_end_dttm | time_diff:produce.min_start_dttm }}</span>
            		{% elif produce.produce_detail.all.first %}
            		<span class="badge badge-pill badge-danger">{{ produce.min_start_dttm | timesince }}前</span>
            		{% endif %}
            	</p>
                <table class="table table-striped{% if produce.produce_detail.all.first.end_dttm %} collapse{% endif %}" id="collapse{{ produce.id }}">
                    <thead>
                        <tr>
                            <th>Round</th>
                            <th>Step</th>
                            <th>Time Consume</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in produce.produce_detail.all %}
                        <tr>
                            <td>{{ detail.round }}#</td>
                            <td>{{ detail.step | ml_step_desc }}</td>
                            <td><span class="badge badge-{% if detail.end_dttm %}secondary{% else %}warning{% endif %}">{{ detail.time_consume | time_delta }}</span></td>
                            {% with detail.start_dttm|date_diff:produce.min_start_dttm as start_index %}
                            <td>{{ detail.start_dttm | date:"H:i:s" }}{% if start_index > 0 %} <sup><span class="badge badge-pill badge-info">+{{ start_index }}</span></sup>{% endif %}</td>
                            {% endwith %}
                            {% with detail.end_dttm|date_diff:produce.min_start_dttm as end_index %}
                            <td>
                                {% if detail.end_dttm %}{{ detail.end_dttm | date:"H:i:s" }}
                                {% if end_index > 0 %} <sup><span class="badge badge-pill badge-info">+{{ end_index }}</span></sup>{% endif %}
                                {% else %}进行中{% endif %}
                            </td>
                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>

        <ul class="pagination">
            <li class="page-item{% if not produces.has_previous %} disabled{% endif %}">
                <a class="page-link" {% if produces.has_previous %}href="/game/?p={{ produces.previous_page_number }}"{% endif %}>&laquo;</a>
            </li>
            {% for page in produces.paginator.page_range %}
            <li class="page-item{% if produces.number == page %} disabled{% endif %}">
                <a class="page-link" href="/game/?p={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}
            <li class="page-item{% if not produces.has_next %} disabled{% endif %}">
                <a class="page-link" {% if produces.has_next %}href="/game/?p={{ produces.next_page_number }}"{% endif %}>&raquo;</a>
            </li>
        </ul>
	</div>
{% endblock %}