{% extends "base.html" %}
{% load staticfiles %}
{% load ext_filters %}

{% block body_content %}
	<div class="container">
	    <h4><br />Recent Produces</h4>
	    
	    <div class="row">
            <div class="col-md-12">
            	{% for produce in produces %}
            	<p>
            		<span class="badge badge-success">{{ produce.warehouse }}</span>
            		<span class="badge badge-primary">{{ produce.main_chef }}</span>
            		<span class="badge badge-light">{{ produce.min_start_dttm | date:"Y-m-d H:i:s" }}</span>
            		{% if produce.produce_detail.all.first.end_dttm %}
            		<span class="badge badge-dark">共耗时：{{ produce.max_end_dttm | time_diff:produce.min_start_dttm }}</span>
            		{% elif produce.produce_detail.all.first %}
            		<span class="badge badge-danger">{{ produce.min_start_dttm | timesince }}前</span>
            		{% endif %}
            	</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Round</th>
                            <th>Step</th>
                            <th>Time Consume</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in produce.produce_detail.all %}
                        <tr>
                            <td>{{ detail.round }}#</td>
                            <td>{{ detail.step | ml_step_desc }}</td>
                            <td><span class="badge badge-{% if detail.end_dttm %}secondary{% else %}warning{% endif %}">{{ detail.time_consume | time_delta }}</span></td>
                            <td>{{ detail.start_dttm | date:"H:i:s" }}</td>
                            <td>{% if detail.end_dttm %}{{ detail.end_dttm | date:"H:i:s" }}{% else %}进行中{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
	</div>
{% endblock %}