{% extends "base.html" %}
{% load staticfiles %}

{% block body_content %}
	<div class="container">
	    <h4><br />Recent Campaigns&nbsp;
	        <a class="btn btn-xs btn-primary" href="/snooker/campaign/"><i class="fas fa-history"></i></a>
	        
	        {% if request.user.is_authenticated %}
	        <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#exampleModal">
	            <i class="fas fa-play" style="color:white"></i>
	        </button>
	        
		    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	            <div class="modal-dialog">
	                <div class="modal-content">
	                    <div class="modal-header">
	                        <h5 class="modal-title" id="exampleModalLabel">新建</h5>
	                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                            <span aria-hidden="true">&times;</span>
	                        </button>
	                    </div>
	                    <div class="modal-body">
	                        <form id="addForm" action="/snooker/campaign/add_confirm/" method="post">
	                        {% csrf_token %}
	                            <p>日期：<input type="text" class="form-control" name="event_dt" value="{% now 'Y-m-d' %}"></p>
	                            <p></p><p>场地：
	                            <select class="custom-select" name="gym_id">
	                                {% for gym in gyms %}
	                                <option value="{{ gym.id }}">{{ gym }}</option>
	                                {% endfor %}
	                            </select></p>
	                            <p></p><p>球杆：
	                            <select class="custom-select" name="cue_id">
	                                {% for cue in cues %}
	                                <option value="{{ cue.id }}">{{ cue }}</option>
	                                {% endfor %}
	                            </select></p>
	                            <p></p><p>对手：
	                            <select class="custom-select" name="opponent_id">
	                                {% for opponent in opponents %}
	                                <option value="{{ opponent.id }}">{{ opponent }}</option>
	                                {% endfor %}
	                            </select></p>
	                            <p></p><p>让分：<input type="text" class="form-control" name="let_points" value="0"></p>
	                        </form>
	                    </div>
	                    <div class="modal-footer">
	                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
	                        <a class="btn btn-success" onclick="document:addForm.submit()">确定</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	        {% endif %}
	    </h4>

	    <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Score</th>
                            <th>Opponent</th>
                            <th>Max Break</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campaign in campaigns %}
                        <tr>
                            <td>{{ campaign.event_dt|date:'Y-m-d' }}</td>
                            <td>{{ campaign.gym.name }}（{{ campaign.gym.road }}）</td>
                            <td>{{ campaign.win_frames|default:0 }} : {{ campaign.lose_frames|default:0 }}</td>
                            <td>{{ campaign.opponent.name }}</td>
                            <td>{{ campaign.campaign_break|default:'-' }}</td>
                            <td>
                                <a class="btn btn-xs btn-{% if campaign.is_finished == '1' %}success{% else %}primary{% endif %}" href="/snooker/campaign/{{ campaign.id }}/"><i class="fas fa-{% if campaign.is_finished == '1' %}search{% else %}edit{% endif %}"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <hr />
        
        <h4><br />Tendency Chart</h4>
        
        <div class="row">
            <div class="col-md-12" id="vue_app_chart">
                <ul class="nav nav-tabs nav-fill" style="margin-bottom:10px;">
                    <li class="nav-item"><a class="nav-link" :class="{active:chart_id==0}" @click="chart_id=0" href="javascript:void(0);">Campaign Scores</a></li>
                    <li class="nav-item"><a class="nav-link" :class="{active:chart_id==1}" @click="chart_id=1" href="javascript:void(0);">Average Points</a></li>
                </ul>
                <canvas id="canvas_w" height="180" width="450" v-show="chart_id==0"></canvas>
                <canvas id="canvas_p" height="180" width="450" v-show="chart_id==1"></canvas>
            </div>
        </div>
	</div>
{% endblock %}

{% block js_content %}
    <script src="{% static 'plugins/Chart/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/vue/vue.min.js' %}"></script>
    
    <script type="text/javascript">
	    new Vue({
	        el: "#vue_app_chart",
	        data: { chart_id: 0 },
	        delimiters: ["${", "}"]
	    });
    
	    new Chart($("#canvas_w")[0], {
	        type: 'bar',
	        data: {
	            labels: [{% for campaign in campaigns reversed %}"{{ campaign.event_dt|date:'m/d' }}",{% endfor %}],
	            datasets: [
		            {
		                label: 'Win Frames',
		                data: [{% for campaign in campaigns reversed %}"{{ campaign.win_frames }}",{% endfor %}],
		                backgroundColor: 'rgba(54, 162, 235, 0.2)',
		                borderColor: 'rgba(54, 162, 235, 1)',
		                borderWidth: 1
		            },
		            {
		                label: 'Lose Frames',
		                data: [{% for campaign in campaigns reversed %}"{{ campaign.lose_frames }}",{% endfor %}],
		                backgroundColor: 'rgba(255, 206, 86, 0.2)',
		                borderColor: 'rgba(255, 206, 86, 1)',
		                borderWidth: 1
		            }
	            ]
	        },
	        options: {
	            scales: {
	                yAxes: [{
	                    ticks: {
	                        beginAtZero: true,
	                        stepSize: 1
	                    }
	                }]
	            },
	            legend: {
	                display: false
	            }
	        }
	    });
	    
	    new Chart($("#canvas_p")[0], {
            type: 'line',
            data: {
                labels: [{% for campaign in campaigns reversed %}"{{ campaign.event_dt|date:'m/d' }}",{% endfor %}],
                datasets : [
                    {
                        label: "GPLite",
                        borderColor : "rgba(75,192,192,1)",
                        backgroundColor : "rgba(75,192,192,0.2)",
                        pointBorderColor : "rgba(75,192,192,1)",
                        pointBackgroundColor : "#fff",
                        pointBorderWidth : 1,
                        data : [
                            {% for campaign in campaigns reversed %}{{ campaign.avg_get_points|default_if_none:0|floatformat:1 }},{% endfor %}
                        ]
                    },
                    {
                        label: "Opponent",
                        borderColor : "rgba(255,206,86,1)",
                        pointBorderColor : "rgba(255,206,86,1)",
                        pointBackgroundColor : "#fff",
                        pointBorderWidth : 1,
                        fill: false,
                        borderDash: [5, 5],
                        data : [
                            {% for campaign in campaigns reversed %}{{ campaign.avg_oppo_points|default_if_none:0|floatformat:1 }},{% endfor %}
                        ]
                    }
                ]
            },
            options: {
                legend: {
                    display: false
                }
            }
        });
    </script>
{% endblock %}